appnope==0.1.0
beautifulsoup4==4.4.1
decorator==4.0.4
flake8==2.4.1
gnureadline==6.3.3
ipython==4.0.0
ipython-genutils==0.1.0
mccabe==0.3.1
path.py==8.1.2
pep8==1.5.7
pexpect==4.0.1
pickleshare==0.5
ptyprocess==0.5
py==1.4.30
pyflakes==0.8.1
pytest==2.8.2
requests==2.8.1
simplegeneric==0.8.1
traitlets==4.0.0
psycopg2==2.6.1
