{% extends "layout.jinja2" %}
{% block body %}
<article>
  <h1>{{ entry.title }}</h1>
  <hr/>
  <p>{{ entry.body }}</p>
  <hr/>
  <p><a href="{{ request.route_url('edit', id=entry.id) }}">Edit Entry</a></p>
  <p>Created <strong title="{{ entry.created }}">{{entry.created}}</strong></p>
</article>
{% endblock %}
